.contentMainPage .advantagesBlock {
	height: 100vh;
	background-size: cover;
}

.advantages{
	position: relative;
	  -webkit-transition: all 1s ease;
  		-moz-transition: all 1s ease;
  			-o-transition: all 1s ease;
  				transition: all 1s ease;

}
.advantages.block1{
	z-index: 1;
	transform: translateX(372px);
}
.advantages.block2{
	z-index: 3;
	transform: translateX(134px);
}
.advantages.block3{
	z-index: 2;
	transform: translateX(-104px);
}
.advantages.block4{
	z-index: 1;
	transform: translateX(-341px);
}
.advantagesIcon.anim-done .advantages{
	transform: translateX(0px)!important;
}
footer.footerCD {
	background: none;
	z-index: 13;
	bottom: 0;
	position: fixed;
	min-height: auto;
	width: 100%;
	bottom: -800px;
}
footer.footerCD .footerCDBg {
	height: 600px;
}
.overlay {
	position: fixed;
	z-index: 12;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #000;
	display: none;
}
.weWillContactYouForm {
	height: 782px;
	position: fixed;
	bottom: -800px;
	width: 100%;
	z-index: 11;
	/*bottom: -500px;*/
}/*
.form tr, .form h3 {
	animation: formfadein 5s;
}*/

@keyframes formfadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.weWillContactYouForm  tr{
	opacity: 0;
}
.weWillContactYouForm .visible{
	opacity: 1;
}