.cursor
{
	cursor: pointer;
}
.left99999
{
	position: absolute;
	left: -99999px;
}
.displayNone
{
	display: none;
}
/*********************************************************/
/*********************************************************/

.editForm input[type='text'],
.editForm input[type='password'],
.editForm select,
.editForm textarea
{
    width:94%;
    background-color: transparent;
    border: 1px solid #3F678B;
    /*font-weight: lighter;*/
    color: #527191;
    font-size: 17px;
    padding: 10px;
	margin: 0px;
	outline: none;/*Некоторые браузеры проставляют outline (Chrome)*/
    transition: .8s;
}
.editForm select{
    width: 98.5%;
}
.editForm textarea{
    resize: vertical;
}
.editForm input[type='checkbox'],
.editForm input[type='radio']
{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

.editForm input[type='text']:focus,
.editForm input[type='password']:focus,
.editForm input[type='file']:focus,
.editForm select:focus,
.editForm textarea:focus
{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ED9260;
}
.editForm input[type='text']:hover,
.editForm input[type='password']:hover,
.editForm input[type='file']:hover,
.editForm select:hover,
.editForm textarea:hover
{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ED9260;
}
.editForm input[type='text'].splash,
.editForm input[type='password'].splash,
.editForm textarea.splash
{
	background-color: #CEFFCD;
}

.editForm select option[disabled]
{
	color: #C8C8C8;
}

.editForm input[type='file']
{
	font-size: 14px;
	padding: 1px;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	color: #464F5E;
	border: 1px solid #A1A8B9;
	background-color: #FFFFFF;
	outline: none;/*Некоторые браузеры проставляют outline (Chrome)*/
}

button.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	font: 12px Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 15px 6px 15px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	color: #F0F2F3;
	border: solid 1px #4F98DD;

	background: #258DC4; /* Old browsers */
	background: -moz-linear-gradient(top, #82C3ED 0%, #258DC4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,#82C3ED), color-stop(100%,#258DC4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #82C3ED 0%, #258DC4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #82C3ED 0%, #258DC4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #82C3ED 0%, #258DC4 100%); /* IE10+ */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#82C3ED', endColorstr='#258DC4');/* IE9- */
	background: linear-gradient(top, #82C3ED 0%, #258DC4 100%); /* W3C */
}
button.button:hover {
	text-decoration: none;

	background: #3496CA; /* Old browsers */
	background: -moz-linear-gradient(top, #258DC4 0%, #3496CA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,#258DC4), color-stop(100%,#3496CA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #258DC4 0%, #3496CA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #258DC4 0%, #3496CA 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #258DC4 0%, #3496CA 100%); /* IE10+ */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#258DC4', endColorstr='#3496CA');/* IE9- */
	background: linear-gradient(top, #258DC4 0%, #3496CA 100%); /* W3C */
}
button.button:active {
	position: relative;
	top: 1px;

	background: #82C3ED; /* Old browsers */
	background: -moz-linear-gradient(top, #258DC4 0%, #82C3ED 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,#258DC4), color-stop(100%,#82C3ED)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #258DC4 0%, #82C3ED 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #258DC4 0%, #82C3ED 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #258DC4 0%, #82C3ED 100%); /* IE10+ */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#258DC4', endColorstr='#82C3ED');/* IE9- */
	background: linear-gradient(top, #258DC4 0%, #82C3ED 100%); /* W3C */
}
button.button:disabled
{
	top: 0;
	background: none;
	cursor: default;
	background-color: #FAFAFA;
	border-color: #D5D5D5;
	color: #D5D5D5;
	text-shadow: none;
}

button.button2 {
	display: inline-block;
	outline: none;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	font: 12px Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 15px 6px 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	color: #2a8dc2;
	border: solid 1px #c5c5c5;

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* IE10+ */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e5e5e5');/* IE9- */
	background: linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* W3C */
}
button.button2:hover {
	text-decoration: none;

	background: #e5e5e5;
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#ededed));
	background: -moz-linear-gradient(top,  #e5e5e5,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ededed');

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%, #ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%, #ededed 100%); /* IE10+ */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ededed');/* IE9- */
	background: linear-gradient(top, #e5e5e5 0%, #ededed 100%); /* W3C */
}
button.button2:active {
	position: relative;
	top: 1px;

	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#f7f7f7));
	background: -moz-linear-gradient(top,  #e5e5e5,  #f7f7f7);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f7f7f7');

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%, #f7f7f7 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%, #f7f7f7 100%); /* IE10+ */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f7f7f7');/* IE9- */
	background: linear-gradient(top, #e5e5e5 0%, #f7f7f7 100%); /* W3C */
}
button.button2:disabled
{
	top: 0;
	background: none;
	cursor: default;
	background-color: #FAFAFA;
	border-color: #D5D5D5;
	color: #B1CDDC;
	text-shadow: none;
}

/*********************************************************/
/*********************************************************/

.editForm
{
	padding-bottom: 20px;
}

.editForm .header
{
	margin: 26px 0px 20px 0px;
}
.editForm .header,
.editForm .header *
{
	font-size: 16px;
	font-weight: bold;
	color: #2a8dc2;
}
.editForm .header2
{
	margin: 20px 0px 20px 0px;
}
.editForm .header2,
.editForm .header2 *
{
	font-size: 16px;
	font-weight: bold;
	color: #464f5e;
}
.editForm .separator
{
	height: 1px;
	width: 100%;
	max-width: 500px;
	border-bottom: 1px dotted #464f5e;
	margin: 20px 0px 20px 0px;
}
.editForm .spacer
{
	height: 5px;
	width: 100%;
}
.editForm .comment
{
	font-size: 11px;
	color: #7c7c7c;
	margin: 0px 0px 20px 0px;
	max-width: 500px;
}
.editForm .comment *
{
	font-size: 11px;
	color: #7c7c7c;
}
.editForm .comment.hide
{
	display: none;
}
.editForm .comment.show
{
	display: block;
}
.editForm .title
{
	position: relative;
	margin: 20px 0px 0px 0px;
	max-width: 500px;
	font-size: 12px;
	color: #464f5e;
}
.editForm .title *
{
	font-size: 12px;
	color: #464f5e;
}
.editForm .title.checkbox input,/*РґР»СЏ <input type="checkbox">*/
.editForm .title.radio input/*РґР»СЏ <input type="radio">*/
{
	margin: 0px;
}
.editForm .title.checkbox label,
.editForm .title.radio label
{
	margin: 0px 0px 0px 8px;
	cursor: pointer;
}
.editForm .title.required
{
	border-left: 2px solid #df1820;
	padding-left: 3px;
}
.editForm .content
{
	margin: 5px 0px 0px 0px;
}
.editForm .content p/*РґР»СЏ СЌР»РµРјРµРЅС‚РѕРІ, РєРѕС‚РѕСЂС‹Рµ РЅРµ СЂРµРґР°РєС‚РёСЂСѓСЋС‚СЃСЏ*/
{
	font-size: 12px;
	color: #0F1114;
	border: 1px dotted #DCDCDC;
	background-color: #ffffff;
	padding: 5px;
	max-width: 500px;
	min-width: 350px;
}
.editForm .content > input[type='text'],
.editForm .content > input[type='password'],
.editForm .content > textarea
{
	width: 86%;
	max-width: 500px;
	min-width: 350px;
}
.editForm .content > input.imgSize
{
	max-width: 100px!important;
	min-width: 100px!important;
}
.editForm .content > input[type='file'],
.editForm .content > select
{
	width: 99%;
	max-width: 512px;
	min-width: 350px;
}
.editForm .content > textarea
{
	height: 100px;
}
.editForm .content > input[type='text'].long,
.editForm .content > input[type='password'].long,
.editForm .content > input[type='file'].long,
.editForm .content > textarea.long
{
	max-width: 98%;
}
.editForm .content > select.long
{
	max-width: 99%;
}
.editForm .content > input[type='text'].short,
.editForm .content > input[type='password'].short,
.editForm .content > input[type='file'].short,
.editForm .content > textarea.short
{
	min-width: 1px;
}
.editForm .content > select.short
{
	min-width: 1px;
}
.editForm .content > input[type='text'].ambient,
.editForm .content > input[type='password'].ambient,
.editForm .content > input[type='file'].ambient,
.editForm .content > textarea.ambient
{
	min-width: 1px;
	width: auto;
}
.editForm .content > select.ambient
{
	min-width: 1px;
	width: auto;
}
.editForm .content.tinymce
{
	 width: 660px;
	 min-height: 440px;
	 max-height: 440px;
	 overflow: hidden;
}
.editForm .content.tinymce textarea
{
	display: none;
}
.editForm .buttons
{
	margin: 20px 0px 0px 0px;
	font-size: 12px;
	color: #666666;
}
.editForm .buttons button
{
	margin-right: 5px;
}
.editForm .buttons a
{
	font-size: 14px;
	color: #2A8DC2;
	margin-left: 5px;
}

/* Р’РќРРњРђРќРР•! РџРѕРјРµС‰Р°С‚СЊ РґР°РЅРЅС‹Р№ СЃС‚РёР»СЊ РїРѕСЃР»Рµ РІСЃРµС… СЃС‚РёР»РµР№ СЃРІСЏР·Р°РЅРЅС‹С… СЃ РјРµС…Р°РЅРёРјРѕРј editForm */
.editForm .header:first-of-type,
.editForm .header2:first-of-type,
.editForm .comment:first-of-type,
.editForm .title:first-of-type,
.editForm .content:first-of-type,
.editForm .buttons:first-of-type
{
	margin-top: 0px;
}

.editForm fieldset
{
	margin: 20px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
	background-color: transparent;
	border: 1px solid #DBDCE1;
	border-radius: 2px;
}
.editForm fieldset legend
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #464f5e;
}

/*********************************************************/
/*********************************************************/

.toolbar
{
	background-color: #E6E6E6;
	margin-bottom: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

.toolbar table
{
	width: 100%;
}
.toolbar table td
{
	vertical-align: middle;
}

.toolbar table td p a
{
	display: block;
	background-repeat: no-repeat;
	margin: auto;
	width: 25px;
	height: 25px;
}

.toolbar table td.tdSeparator
{
	width: 5px;
}

.toolbar table td.tdSeparator.widht15px
{
	width: 15px;
}

.toolbar table td.filled
{
	text-align: center;
	width: 30px;
	height: 30px;
}

.toolbar table td.filled:hover
{
	background-color: #525252;
	border-radius: 5px;
}

.toolbar table td.filled p a.add
{
	background-image: url("../img/admin-panel/add.png");
}
.toolbar table td.filled p a.addCatalog
{
	background-image: url("../img/admin-panel/add_folder.png");
}
.toolbar table td.filled p a.downloads
{
	background-image: url("http://levada.astrid-company.com/template/img/admin-panel/downloads.png");
}
.toolbar table td.filled p a.up
{
	background-image: url("../img/admin-panel/arrowup.png");
}

/*********************************************************/
/*********************************************************/

table.list
{
	width: 100%;
}

table.list tr
{
	height: 31px;
}

table.list tr.trHeader
{
	background-color: #E6E6E6;
}

table.list tr.trSeparator
{
	height: 5px;
}

table.list tr.zebra
{
	background-color: #F6F6F6;
}

table.list tr.line:hover
{
	background-color: #CAE6FD;
}

table.list td.button
{
	width: 25px;
}

table.list td.button:hover
{
	background-color: #525252;
	border-radius: 5px;
}

table.list td.button p a
{
	display: block;
	background-repeat: no-repeat;
	margin: auto;
	width: 25px;
	height: 25px;
}

table.list td.button p a.download
{
	background-image: url("../img/admin-panel/download.png");
}
table.list td.button p a.insert_image
{
	background-image: url("../img/admin-panel/insert_image.png");
}
table.list td.button p a.insert_file
{
	background-image: url("../img/admin-panel/insert_file.png");
}
table.list td.button p a.edit
{
	background-image: url("../img/admin-panel/edit.png");
}
table.list td.button p a.delete
{
	background-image: url("../img/admin-panel/delete.png");
}

table.list td p
{
	padding: 3px 5px;
}

/***/

a.deleteButtom
{
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	background-image: url("../img/admin-panel/delete.png");
	background-repeat: no-repeat;
	margin: auto;
	width: 25px;
	height: 25px;
}

/*********************************************************/
/*********************************************************/

.staticHtmlList,
.adminUserList,
.staticPageList,
.staticHtmlList
 {
 	margin-bottom: 20px;
 }

.emailList textarea
{
	min-height: 400px;
}

