.floatMessage
{
    display: none;
	clear: both;
	max-width: 500px;
	min-width: 350px;
	margin: 0px;
	position: fixed;
	z-index: 10000;
	top: 0px;
}
.floatMessage .text
{
	background-repeat: no-repeat;
	background-position: top left;
	margin: 10px 30px 10px 18px;
	overflow: auto;
	max-height: 600px;
}
.floatMessage .closeButton
{
	position: relative;
}
.floatMessage .closeButton > div
{
	top: 12px;
	right: 10px;
	cursor: pointer;
	position: absolute;
}

/*---------------------------*/

.floatMessage.ok
{
	border: 1px solid #008529;
	background-color: #ceffcd;
}
.floatMessage.ok .text
{
	color: #027024;
}

.floatMessage.error
{
	border: 1px solid #b61a00;
	background-color: #ffc2c2;
}
.floatMessage.error .text
{
	color: #7c1200;
}
