.popupMessage {
	display: none;
	background-color: #ffffff;
	clear: both;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5 rgba(0,0,0,0.3);
	min-width: 400px;
	max-width: 500px;
	position: relative;
}
.popupMessage .header {
	background-color: #4c8bae;
	font-size: 18px;
	padding: 10px 35px 10px 30px;
	color: #FFFFFF;
	cursor: default;
}

.popupMessage .popupMessageContent
{
}

.popupMessage .text {
	background-repeat: no-repeat;
	background-position: 10px 15px;
	margin: 0px;
	padding: 20px 20px 20px 50px;
	min-height: 40px;
	max-height: 300px;
	color: #22303a;
	overflow: auto;
}
.popupMessage .text * {
	color: #22303a;
}
.popupMessage .text a {
	color: #2a8dc2;
}
.popupMessage .buttons {
	border-top: 1px solid #d5d5d5;
	margin: 0px;
	padding: 16px 15px 16px 16px;
	text-align: right;
	background-color: #f8f8f8;
}

.popupMessage .image
{
	position: absolute;
	top: 54px;
	left: 10px;
	width: 30px;
	height: 30px;
}

.popupMessage .image.sprite-popup-message-ok
{
	background-image: url("../img/message/ok.png");
}
.popupMessage .image.sprite-popup-message-error
{
	background-image: url("../img/message/error.png");
}
.popupMessage .image.sprite-popup-message-confirm
{
	background-image: url("../img/message/confirm.png");
}
