.popupForm
{
	display: none;
	background-color: #f8f8f8;
	clear: both;
	min-width: 400px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.popupForm .popupFormTitle
{
	background-color: #4c8bae;
	font-size: 18px;
	padding: 10px 50px 10px 30px;
	color: #FFFFFF;
	cursor: default;
}

.popupForm .popupFormContent
{
	padding: 25px 30px 25px 30px;
}

.popupForm .closeButton
{
	position: relative;
}
.popupForm .closeButton > div
{
	top: 15px;
	right: 15px;
	cursor: pointer;
	position: absolute;
}
