@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html,
body
{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
	font-size: 10px;
}

h1, h2, h3
{
	margin: 0px;
	padding: 0px;
}
h3 {
     color: #3a6d99;
     font-family: "Times New Roman";
     font-size: 3.3rem;
     line-height: 3.8rem;
     text-align: center;
     padding-top: 60px;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: #9f6244;
	text-decoration: none;
}

a, img, button, input {
	outline: none;
}

img {
	border: none;
}

form {
	margin: 0;
	padding: 0;
}

textarea:focus {
	border: 0;
}

table {
	border-collapse: collapse;
	border: none;
}

table td {
	padding: 0px;
}

.width100 {
	width: 100%;
}

.tableAlignCenter {
	margin: 0px auto 0px auto;
}

.tableAlignRight {
	float: right;
}

.bold {
	font-weight: bold;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	  text-align: right;
}

.alignLeft {
	text-align: left;
}

.hover {
	text-decoration: none;
}

.hover:hover {
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.delimiter {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearBoth {
	clear: both;
}

.displayBlock {
	display: block;
}

.positionRelative {
	position: relative;
}

.delimiter.marginTop {
	clear: both;
	margin-top: 15px;
	/* должно быть равным или больше высоты шапки */
}
.emptyData {
    font-size: 1.5rem;
    text-align: center;
    margin:20px 0;
}
.red{ color: #ea0009; }
.black{ color: #000000; }
.blue{ color: #0000ff; }
.green{ color: #37a858; }
.fontSize10{ font-size:1rem; }
.fontSize11{ font-size:1.1rem; }
.fontSize12{ font-size:1.2rem; }
.fontSize13{ font-size:1.3rem; }
.fontSize14{ font-size:1.4rem; }
.fontSize15{ font-size:1.5rem; }
.fontSize16{ font-size:1.6rem; }
.fontSize17{ font-size:1.7rem; }
.fontSize18{ font-size:1.8rem; }
.fontSize19{ font-size:1.9rem; }
.fontSize20{ font-size:2rem; }
.fontSize21{ font-size:2.1rem; }
.fontSize22{ font-size:2.2rem; }
.fontSize23{ font-size:2.3rem; }
.fontSize24{ font-size:2.4rem; }
.fontSize25{ font-size:2.5rem; }
.fontSize26{ font-size:2.6rem; }
.fontSize27{ font-size:2.7rem; }
.fontSize28{ font-size:2.8rem; }
.fontSize29{ font-size:2.9rem; }
.fontSize30{ font-size:3rem; }
.fontSize31{ font-size:3.1rem; }
.fontSize32{ font-size:3.2rem; }
.fontSize33{ font-size:3.3rem; }
.fontSize34{ font-size:3.4rem; }
.fontSize35{ font-size:3.5rem; }
.fontSize36{ font-size:3.6rem; }
.fontSize37{ font-size:3.7rem; }
.fontSize38{ font-size:3.8rem; }
.fontSize39{ font-size:3.9rem; }
.fontSize40{ font-size:4rem; }
.fontSize41{ font-size:4.1rem; }
.fontSize42{ font-size:4.2rem; }
.fontSize43{ font-size:4.3rem; }
.fontSize44{ font-size:4.4rem; }
.fontSize45{ font-size:4.5rem; }
.fontSize46{ font-size:4.6rem; }
.fontSize47{ font-size:4.7rem; }
.fontSize48{ font-size:4.8rem; }
.fontSize49{ font-size:4.9rem; }
.fontSize50{ font-size:5rem; }
.fontSize51{ font-size:5.1rem; }
.fontSize52{ font-size:5.2rem; }
.fontSize53{ font-size:5.3rem; }
.fontSize54{ font-size:5.4rem; }
.fontSize55{ font-size:5.5rem; }
.fontSize56{ font-size:5.6rem; }
.fontSize57{ font-size:5.7rem; }
.fontSize58{ font-size:5.8rem; }
.fontSize59{ font-size:5.9rem; }
.fontSize60{ font-size:6rem; }
.fontSize61{ font-size:6.1rem; }
.fontSize62{ font-size:6.2rem; }
.fontSize63{ font-size:6.3rem; }
.fontSize64{ font-size:6.4rem; }
.fontSize65{ font-size:6.5rem; }
.fontSize66{ font-size:6.6rem; }
.fontSize67{ font-size:6.7rem; }
.fontSize68{ font-size:6.8rem; }
.fontSize69{ font-size:6.9rem; }
.fontSize70{ font-size:7rem; }
.fontSize71{ font-size:7.1rem; }
.fontSize72{ font-size:7.2rem; }
.fontSize73{ font-size:7.3rem; }
.fontSize74{ font-size:7.4rem; }
.fontSize75{ font-size:7.5rem; }
.fontSize76{ font-size:7.6rem; }
.fontSize77{ font-size:7.7rem; }
.fontSize78{ font-size:7.8rem; }
.fontSize79{ font-size:7.9rem; }
.fontSize80{ font-size:8rem; }
.fontSize81{ font-size:8.1rem; }
.fontSize82{ font-size:8.2rem; }
.fontSize83{ font-size:8.3rem; }
.fontSize84{ font-size:8.4rem; }
.fontSize85{ font-size:8.5rem; }
.fontSize86{ font-size:8.6rem; }
.fontSize87{ font-size:8.7rem; }
.fontSize88{ font-size:8.8rem; }
.fontSize89{ font-size:8.9rem; }
.fontSize90{ font-size:9rem; }
.fontSize91{ font-size:9.1rem; }
.fontSize92{ font-size:9.2rem; }
.fontSize93{ font-size:9.3rem; }
.fontSize94{ font-size:9.4rem; }
.fontSize95{ font-size:9.5rem; }
.fontSize96{ font-size:9.6rem; }
.fontSize97{ font-size:9.7rem; }
.fontSize98{ font-size:9.8rem; }
.fontSize99{ font-size:9.9rem; }
.fontSize100{ font-size:10rem; }


/*********************************************************/
/*************************.********************************/
/*********************************************************/
#id_ajaxRequestPreloader {
    display: none;
    position: fixed;
    z-index: 10001;
    top: 0px;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    background-color: white;
    width: 42px;
    height: 42px;
    background-image: url("../img/preloader.gif");
    background-position: center;
    background-repeat: no-repeat;
}
#id_ajaxRequestPreloaderMessage {
    position: fixed;
    display: none;
    z-index: 10001;
    top: 0px;
    border: 1px solid #D2D2D2;
    padding: 5px;
    background-color: white;
}
/*********************************************************/
/*********************************************************/
.formDelimiter
{
    height: 40px;
}
.formTextarea
{
    width: 100%;
}
.formInput input
{
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #ffffff;
    height: 37px;
    padding: 0 10px 0 30px;
    width: 100%;
}
.formInput input:focus,
.formInput input:hover,
.formTextarea textarea:focus,
.formTextarea textarea:hover
{
    border-bottom: 1px solid #37a858;
}
.formTextarea textarea
{
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #ffffff;
    height: 40px;
    padding: 5px 10px 5px 30px;
    width: 100%;
}
.formButton
{
    text-align: center;
    width: 100%;
}
.formButton button
{
    height: 40px;
    background: transparent;
    border: 1px solid #37a858;
    border-radius: 2px;
    width: 205px;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 0;
}
.formButton button:hover
{
    cursor: pointer;
    background: #37a858;
}
.subscribeForActionForm{
    background: #3c6c9a none repeat scroll 0 0;
    height: 105px;
}
.subscribeForActionForm .form form{
    margin: 0 auto;
    padding: 40px 0 0;
    width: 470px;
}
.subscribeForActionForm p{
    width: auto;
}
.subscribeForActionForm .formInput input{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
    color: #ffffff;
    height: 40px;
    padding: 0 10px 0 30px;
    width: 100%;
    border-radius: 2px;
}
.subscribeForActionForm .formButton button {
    height: 40px;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    width: 205px;
    color: #3c6c9a;
    font-size: 1.8rem;
    padding: 0;
}
.subscribeForActionForm .formButton button:hover {
    background: #37a858;
    color: #ffffff;
    border: 1px solid #ffffff;

}

/*********************************************************/
/*********************************************************/
.mainCD
{
	margin: 0px auto;
	min-width: 1300px;
    position: relative;
}
.contentCD
{
}
.saitWidth
{
	margin: 0px auto;
	width: 950px;
}

/*********************************************************/
/*staticPageText*/
/*********************************************************/
.staticPageText
{
    margin-top: 35px;
}
.staticPageText h2
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #000000;
}
.staticPageText h3
{
    font-weight: bold;
    font-size: 1.6rem;
    color: #000000;
}
.staticPageText ul
{
    margin: 10px 0px;
    padding: 0px 0px 0px 30px;
}
.staticPageText ul li
{
    margin: 0px;
    padding: 0px;
}
.staticPageText p,
.staticPageText li
{
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-top: 35px;
    color: #868686;
}
.staticPageText p:first-child,
.staticPageText li:first-child
{
    margin-top: 0px;
}
/*********************************************************/
/*****                    HEADER                     *****/
/*********************************************************/
header.headerCD.other
{
	display: block;
    position: relative;
}
header.headerCD.other
{
    background-image: url("../img/headerBg.jpg");
    background-position: top center;
    background-size: 100% 196px;
    height: 196px;
}
header.headerCD.headerMainPage
{
    background: transparent none no-repeat scroll 0 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    /*height: 700px;*/
}
header.headerCD.headerMainPage video
{
    min-width: 100%;
    min-height: 100%;
    /*height: 700px;*/
    z-index: 10;
}
header.headerCD.headerMainPage .headerMainPagePosition
{
    position: absolute;
    left: 0;
    top:0;
    min-width: 100%;
    z-index: 15;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition
{
    position: absolute;
    left: 0;
    bottom:0;
    min-width: 100%;
    margin-bottom: 10%;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition h1 {
    color: #ffffff;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition .mainPageDescription {
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition .mainPageDescription p{
    font-size: 1.5rem;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition .scrollMainPage {
    text-align: center;
    margin-top: 20px;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition .scrollMainPage a{
    display: inline-block;
}
header.headerCD.headerMainPage .headerMainPageTitlePosition .scrollMainPage a:hover i{
    width: 40px;
    height: 31px;
    background-position: -5px -1107px;
}
header.headerCD .headLogo
{
    width: 170px;
    float: left;
}
header.headerCD .headRightBlock
{
    float: right;
    margin-top: 20px;
}
header.headerCD .headRightBlock p.headRightMail
{
    float: left;
}
header.headerCD .headRightBlock p.headRightMail a
{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.7);
    /*box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
}
header.headerCD .headRightBlock p.headRightLanguage
{
    float: left;
    /*box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
    margin-left: 33px;
}
header.headerCD .headRightBlock p.headRightLanguage a
{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.7);
    position: relative;
    /*line-height: 1.4rem;*/
}
header.headerCD .headRightBlock p.headRightLanguage a.active,
header.headerCD .headRightBlock p.headRightLanguage a:hover
{
    color: #37a858;

}
header.headerCD .headRightBlock p.headRightLanguage a:after
{

    content: "|";
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
header.headerCD .headRightBlock p.headRightLanguage a:last-child:after
{

    content: "";
    /*box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
}
header.headerCD .headRightBlock .headRightMenu{
    /*width: 265px;*/
    margin-top: 45px;
    position: relative;
}
header.headerCD .headRightBlock .headRightMenu:hover nav {
    display: block;
}
header.headerCD .headRightBlock .headRightMenu .TitleRightMenu {
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.9rem;
    text-transform: uppercase;
    position: relative;
    text-align: right;
}
header.headerCD .headRightBlock .headRightMenu .TitleRightMenu span{
    display: inline-block;
}
header.headerCD .headRightBlock .headRightMenu .TitleRightMenu i {
    display: inline-block;
    margin-left: 10px;
}
header.headerCD.headerMainPage .headRightBlock .headRightMenu .TitleRightMenu{
    color: #3c6c9a;
}
header.headerCD.headerMainPage .headRightBlock .headRightMenu .TitleRightMenu i{
    width: 31px;
    height: 23px;
    background-position: -5px -387px;
}
header.headerCD .headRightBlock .headRightMenu .closeRightMenu{
    color: #ffffff;
    font-size: 3rem;
    left: -59px;
    position: absolute;
    top: 0;
}

header.headerCD .headRightBlock .headRightMenu nav{
    background: #ffffff none repeat scroll 0 0;
    width: 265px;
    margin-top: 0px;
    position: absolute;
    display: none;
    z-index: 1000;
    top:0px;
    right: 0px;
}
header.headerCD .headRightBlock .headRightMenu ul.main{
    list-style: outside none none;
    padding: 0;
    margin: 0;
}
header.headerCD .headRightBlock .headRightMenu ul.main li{
    position: relative;
}
header.headerCD .headRightBlock .headRightMenu ul.main li a{
    color: #3c6c9a;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.7rem;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
header.headerCD .headRightBlock .headRightMenu ul.main li a:hover,
header.headerCD .headRightBlock .headRightMenu ul.main li a.active{
    color: #37a858;
}
header.headerCD .headRightBlock .headRightMenu .headerSocial{
    text-align: center;
    margin: 80px 0 35px 0;
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a{
    display: inline-block;
    margin: 0 7px;
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.vkSocial{
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.facebookSocial{
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.twitterSocial{
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.youtubeSocial{
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.vkSocial:hover i{
    width: 39px;
    height: 38px;
    background-position: -5px -634px;
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.facebookSocial:hover  i{
    width: 40px;
    height: 38px;
    background-position: -5px -490px;
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.twitterSocial:hover i{
    width: 40px;
    height: 38px;
    background-position: -5px -778px;
}
header.headerCD .headRightBlock .headRightMenu .headerSocial a.youtubeSocial:hover i{
    width: 39px;
    height: 38px;
    background-position: -5px -922px;
}

/*********************************************************/
/*****                    pageTitle                  *****/
/*********************************************************/
.pageTitle
{
}
.pageTitle h1
{
    color: #3a6d99;
    font-family: "Times New Roman";
    font-size: 3.3rem;
    margin-top: 85px;
    text-align: center;
}
.pageTitle h1 span
{
}

.pageTitle.catalog
{
    background: #f7f7f7 none repeat scroll 0 0;
}
.pageTitle.catalog h1
{
    margin-top: 0;
    padding-top: 85px;
}

.pageTitle.product h1
{
    font-family: "Open Sans";
    font-size: 1.9rem;
    line-height: 2.9rem;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
}

/*********************************************************/
/*****                    FOOTER                     *****/
/*********************************************************/
footer.footerCD
{
    background: transparent;
    background-image: url("../img/plashkaBg.png");
    background-repeat: repeat-x;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: block;
}
footer.footerCD .footerCDBg
{
    background: transparent;
    background-image: url("../img/footerBg.png");
    background-position: top center;
    height: 427px;
    margin-top: -5px;
    padding-top: 180px;
}

footer.footerCD table
{
	margin-top: 105px;
}
footer.footerCD table td{
    text-align: center;
    width: 30%;
}

footer.footerCD table td p,
footer.footerCD table td p a{
    color: #ffffff;
}
footer.footerCD table td p.footerCopyright{
    font-size: 1.3rem;
    margin-top: 35px;
}
footer.footerCD table td p.footerReserved{
    font-size: 1.3rem;
    color: #b6b6b6;
}
footer.footerCD table td p.footerHotLine{
    font-family: "Times New Roman";
    font-size: 3.7rem;
    font-weight: 600;
}
footer.footerCD table td p.footerPhone{
    font-size: 2.3rem;
    margin-top: 10px;
}
footer.footerCD table td p.footerSocial{
    margin-top: 35px;
}
footer.footerCD table td p.footerSocial a{
    display: inline-block;
    margin: 0 7px;
}
footer.footerCD table td p.footerSocial a.vkSocial{
}
footer.footerCD table td p.footerSocial a.facebookSocial{
}
footer.footerCD table td p.footerSocial a.twitterSocial{
}
footer.footerCD table td p.footerSocial a.youtubeSocial{
}
footer.footerCD table td p.footerSocial a.vkSocial:hover i{
    width: 39px;
    height: 38px;
    background-position: -5px -682px;
}
footer.footerCD table td p.footerSocial a.facebookSocial:hover  i{
    width: 40px;
    height: 38px;
    background-position: -5px -538px;
}
footer.footerCD table td p.footerSocial a.twitterSocial:hover i{
    width: 40px;
    height: 38px;
    background-position: -5px -826px;
}
footer.footerCD table td p.footerSocial a.youtubeSocial:hover i{
    width: 39px;
    height: 38px;
    background-position: -5px -970px;
}
/*********************************************************/
/*******          slider on INDEX             ************/
/*********************************************************/

.indexSlider
{
    position: relative;
    margin: 100px auto 0px;
}
.indexSlider > div
{
	width: 950px;
	height: 450px;
}
.indexSlider .slidesjs-slide
{
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.indexSlider .slidesjs-navigation
{
	position: absolute;
	overflow: hidden;
    top: 50%;
    margin-top: -15px;
	/*padding-top: 46px;*/
	width: 46px;
    height: 62px;
	z-index: 11;
    font-size: 0;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}
/* Стрелка в лево */
.indexSlider .slidesjs-previous.slidesjs-navigation
{
	left: 5px;
    width: 61px;
    height: 62px;
    background-position: -5px -171px;
}
/* Стрелка в право */
.indexSlider .slidesjs-next.slidesjs-navigation
{
    width: 61px;
    height: 62px;
    background-position: -5px -315px;
	right: 5px;
}
/* Стрелка (при наведении)) */

.indexSlider .slidesjs-previous.slidesjs-navigation:hover
{
    background-position: -5px -99px;
}
.indexSlider .slidesjs-next.slidesjs-navigation:hover
{

    background-position: -5px -243px;
}

/*********************************************************/
/*******                  slider              ************/
/*********************************************************/

.articleImageSlider
{
    position: relative;
    margin: 60px auto 0px;
}
.articleImageSlider > div
{
	width: 950px;
	height: 485px;
}
.articleImageSlider .slidesjs-slide
{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
	height: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.articleImageSlider > ul
{
	display: block;
	margin: 20px auto;
    padding: 0px;
    width: 100%;
    height: 50px;
    z-index: 20;
}
.articleImageSlider > ul li
{
    display: inline-block;
	list-style: none;
    margin: 0px 5px;
    padding: 0px;
}
.articleImageSlider > ul li a
{
    display: block;
    background-size: 100% 100%;
    border: 1px solid transparent;
    overflow: hidden;
    padding-top: 45px;
    width: 70px;
    height: 0px;
}
.articleImageSlider > ul li a.active,
.articleImageSlider > ul li a:hover
{
    border: 1px solid #CA0000;
}
.articleImageSlider .slidesjs-navigation
{
	position: absolute;
	overflow: hidden;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -62px;
	padding-top: 62px;
	width: 61px;
	height: 0px;
	z-index: 11;
    background-image: url("../img/sprite.png");
    display: block;
    font-size: 0;
}

/* Стрелка в лево */
.articleImageSlider .slidesjs-previous.slidesjs-navigation
{
    background-position: -5px -171px;
	left: 5px;
}
/* Стрелка в право */
.articleImageSlider .slidesjs-next.slidesjs-navigation
{
    background-position: -5px -315px;
	right: 5px;
}
/* Стрелка (при наведении)) */

.articleImageSlider .slidesjs-previous.slidesjs-navigation:hover
{
    background-position: -5px -99px;
}
.articleImageSlider .slidesjs-next.slidesjs-navigation:hover
{
    background-position: -5px -243px;
}


/*********************************************************/
/***     ГОРИЗОНТАЛЬНЫЙ  СКРУЛЛ                     ******/
/*********************************************************/

.scrollBlock1,
.scrollBlock2
{
	position: relative;
}
.scrollBlock1 .scroll-pane,
.scrollBlock2 .scroll-pane
{
}
.scrollBlock1 > h3.titleBlock,
.scrollBlock2 > h3.titleBlock
{
}
.scrollBlock1 > div.bannerBlock,
.scrollBlock2 > div.bannerBlock
{
	padding: 0px;
}
.scrollBlock1 > div.bannerBlock div.bbContainer,
.scrollBlock2 > div.bannerBlock div.bbContainer
{
}
.scrollBlock1 > div.bannerBlock div.bbContainer div.item,
.scrollBlock2 > div.bannerBlock div.bbContainer div.item
{
	float: left;

}
.scrollBlock1 a.button,
.scrollBlock2 a.button
{
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 34px;
	height: 35px;
	cursor: pointer;
    background-image: url("../img/sprite.png");
}
.scrollBlock1 a.button.left,
.scrollBlock2 a.button.left
{
    width: 13px;
    height: 19px;
    background-position: -5px -5px;
	left: -50px;
}
.scrollBlock1 a.button.right,
.scrollBlock2 a.button.right
{
    width: 13px;
    height: 19px;
    background-position: -5px -34px;
	right: -50px;
}
/*********************************************************/
/***                    mainPage                    ******/
/*********************************************************/
.contentMainPage
{
    background-image: linear-gradient(to right, rgb(240, 240, 240) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%, rgb(240, 240, 240) 100%);
}
.contentMainPage h3{
    color: #3c6c99;
    font-size: 3.1rem;
    line-height: 3.1rem;
    text-align: center;
}
.contentMainPage p{
    text-align: center;
}
.contentMainPage h3.helpfulInformation{
    padding-top: 70px;
}
.contentMainPage p a{
    background: #37a858 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    line-height: 4.8rem;
    margin: 40px 27px 0 27px;
    padding: 0;
    text-transform: uppercase;
    width: 235px;
}
.contentMainPage p a:hover,
.contentMainPage p a.active{
    background: #3c6c99 none repeat scroll 0 0;
}
.contentMainPage .advantagesBlock{
    background: #3c6c99 none repeat scroll 0 0;
}
.contentMainPage h3.advantagesTitle{
    padding-top: 70px;
}
.contentMainPage .advantagesBlock{
    background: url("../img/advantagesBlockBg.jpg") transparent no-repeat center 0;
    height: 544px;
    margin-bottom: -250px;
    margin-top: ;
}
/*.aboutCompany .benefitsBlock*/
/*{*/
    /*padding-bottom: 50px;*/
/*}*/
.contentMainPage .advantagesBlock .advantagesIcon
{
    margin-top: 72px;
}
.contentMainPage .advantagesBlock .advantagesIcon
{
    margin-top: 72px;
    text-align: center;
}
.contentMainPage .advantagesBlock .advantagesIcon div.advantages
{
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);
    margin: 0 14px;
    padding: 50px 10px 10px;
    width: 207px;
    min-height: 245px;
    vertical-align: top;
}
.contentMainPage .advantagesBlock .advantagesIcon div.advantages p
{
    text-align: center;
}
.contentMainPage .advantagesBlock .advantagesIcon div.advantages p img
{
    max-width: 110px;
    max-height: 132px;
}
.contentMainPage .advantagesBlock .advantagesIcon div.advantages p.advantagesText
{
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #3a6d99;
}
/*
.contentMainPage .advantagesBlock .advantagesIcon{
    margin-top: 40px;
}
.contentMainPage .advantagesBlock .advantagesIcon> span{
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);
    display: inline-block;
    height: 245px;
    margin: 0 14px;
    width: 207px;
}
.contentMainPage .advantagesBlock .advantagesIcon span i{
    background-attachment: scroll;
    background-color: #ffffff;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 140px;
    width: 100%;
}
.contentMainPage .advantagesBlock .advantagesIcon .advantagesBasket i{
    background-image: url("../img/zAdvBasket.png");
}
.contentMainPage .advantagesBlock .advantagesIcon .advantagesHighTech i{
    background-image: url("../img/zAdvHighTech.png");
}
.contentMainPage .advantagesBlock .advantagesIcon .advantagesLoyaltyProgram i{
    background-image: url("../img/zAdvLoyaltyProgram.png");
}
.contentMainPage .advantagesBlock .advantagesIcon .advantagesOppCoop i{
    background-image: url("../img/zAdvOppCoop.png");
}
.contentMainPage .advantagesBlock .advantagesIcon  .advantagesText{
    color: #37a858;
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}*/
/*********************************************************/
/***              eventListBlock                   ******/
/*********************************************************/
.eventListBlock{
    margin-top: 70px;
}
.eventListBlock .item{
    float: left;
    margin: 0 15px 85px;
    width: 284px;
}
.eventListBlock .item p{
    text-align: center;
}
.eventListBlock .item p .img {

 }
.eventListBlock .item p.img img {

}
.eventListBlock .item p.title {
    margin-top: 40px;
}
.eventListBlock .item p.title a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color:#3c6c9a;
}
.eventListBlock .item p.date {
    margin-top: 5px;
    font-size: 1.5rem;
    color:#555555;
}
/*********************************************************/
/***              recipeListBlock                  ******/
/*********************************************************/
.recipeListBlock{
    margin-top: 70px;
}
.recipeListBlock .item{
    float: left;
    margin: 0 15px 85px;
    width: 284px;
    position: relative;
}
.recipeListBlock .item{
}
.recipeListBlock .item p{

}
.recipeListBlock .item .img{
}
.recipeListBlock .item .img img{
}
.recipeListBlock .item .title{
    margin-top: 40px;
    text-align: center;
}
.recipeListBlock .item .title a{
    font-size: 1.5rem;
    text-transform: uppercase;
    color:#3c6c9a;
}
.recipeListBlock .item .description{
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 283px;
    height: 285px;
    padding: 35px;
    background: rgba(0,0,0,0.6);
    overflow-y: hidden;
}
.recipeListBlock .item:hover .description{
    display: block;
}
.recipeListBlock .item .description p{
    color: #ffffff;
    font-size: 1.7rem;
}
.recipeListBlock .item .description p:first-child{
    color: #ffffff;
    margin-bottom: 27px;
}

/*********************************************************/
/***              RECIPE WIEW                      ******/
/*********************************************************/

.otherRecipeScroll .scrollBlock1 {}
.otherRecipeScroll .scrollBlock1 .bannerBlock
{
	margin-top: 50px;
}
.otherRecipeScroll .scrollBlock1 .item
{
    float: left;
    padding: 0 16px;
    width: 238px;
}
.otherRecipeScroll .scrollBlock1 .item .store{
    color: #37a858;
    font-size: 2.2rem;
    text-align: center;
}
.otherRecipeScroll .scrollBlock1 .item .img{
    margin-top: 15px;
}
.otherRecipeScroll .scrollBlock1 .item .img img{
    max-width: 205px;
    max-height: 205px;
}
.otherRecipeScroll .scrollBlock1 .item .title{
    text-align: center;
    margin-top: 30px;
}
.otherRecipeScroll .scrollBlock1 .item .title a{
    color:#3c6c9a;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.otherRecipeScroll .scrollBlock1 a.left,
.otherRecipeScroll .scrollBlock1 a.right
{
	top: 255px;
}

/*********************************************************/
/***              actionListBlock                   ******/
/*********************************************************/
.actionPage
{
}

.actionListBlock
{
    margin: 70px 0px;
}
.actionListBlock .item
{
    float: left;
    width: 284px;
    width: 205px;
}
/*********************************************************/
.actionListBlock .scrollBlock2 {}
.actionListBlock .scrollBlock2 .item.spaser
{
    background: transparent;
    width: 43px;
    height: 20px;
}
.actionListBlock .scrollBlock2 .item.spaser:last-child
{
    width: 0px;
}
.actionListBlock .scrollBlock2 .item .store{
    color: #37a858;
    font-size: 2.2rem;
    text-align: center;
}
.actionListBlock .scrollBlock2 .item .img{
    margin-top: 15px;
}
.actionListBlock .scrollBlock2 .item .img img{
    max-width: 205px;
    max-height: 205px;
}
.actionListBlock .scrollBlock2 .item .title{
    text-align: center;
    margin-top: 30px;
}
.actionListBlock .scrollBlock2 .item .title a{
    color:#3c6c9a;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.actionListBlock .scrollBlock2 a.left,
.actionListBlock .scrollBlock2 a.right{top:150px;}

/*********************************************************/
.actionListBlockSocial{
    margin-top: 50px;
}
.actionListBlockSocial  .item{
    float: left;
    margin: 0 15px;
    width: 205px;
}
.actionListBlockSocial .item .store{
    color: #37a858;
    font-size: 2.2rem;
    text-align: center;
}
.actionListBlockSocial .item .img{

}
.actionListBlockSocial .item .img img{
    max-width: 205px;
    max-height: 205px;
}
.actionListBlockSocial  .item .title{
    text-align: center;
    margin-top: 30px;
}
.actionListBlockSocial  .item .title a{
    color:#3c6c9a;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.socialBlockAction{
    padding: 50px 0;
    text-align: center;
}
.socialBlockAction h4{
    color: #3a6d99;
    font-size: 3.3rem;
    line-height: 3.3rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.socialBlockAction .socialBlockIcon {
    margin-top: 50px;
}
.socialBlockAction .socialBlockIcon a{
    display: inline-block;
    margin: 0 10px;
}
.socialBlockAction .socialBlockIcon a.vkSocial:hover i{
    width: 39px;
    height: 38px;
    background-position: -5px -682px;
}
.socialBlockAction .socialBlockIcon a.facebookSocial:hover i{
    width: 40px;
    height: 38px;
    background-position: -5px -538px;
}
.socialBlockAction .socialBlockIcon a.twitterSocial:hover i{
    width: 40px;
    height: 38px;
    background-position: -5px -826px;
}
.socialBlockAction .socialBlockIcon a.youtubeSocial:hover i{
    width: 39px;
    height: 38px;
    background-position: -5px -970px;
}

/*********************************************************/
/***              ACTION WIEW                      ******/
/*********************************************************/

.actionView
{
}
.actionView table
{
	margin-top: 50px;
}
.actionView table td
{
	vertical-align: top;
}
.actionView table td.img
{
	width: 425px;
}
.actionView table td.spaser
{
	width: 50px;
}
.actionView table td.img p img
{
	max-width: 425px;
	max-height: 390px;
}
.actionView .pageTitle .saitWidth
{
	width: 100%!important;
}
.actionView .pageTitle h1
{
	margin-top: 0px;
	font-size: 4rem;
	font-weight: normal;
	text-align: left;
}

/******/

.otherActionScroll .scrollBlock1 {}
.otherActionScroll .scrollBlock1 .bannerBlock
{
	margin-top: 50px;
}
.otherActionScroll .scrollBlock1 .item
{
    float: left;
    /*padding: 0 15px 85px;*/
    width: 205px;
}
.otherActionScroll .scrollBlock1 .item.spaser
{
    background: transparent;
    width: 43px;
    height: 20px;
}
.otherActionScroll .scrollBlock1 .item.spaser:last-child
{
    width: 0px;
}
.otherActionScroll .scrollBlock1 .item .store{
    color: #37a858;
    font-size: 2.2rem;
    text-align: center;
}
.otherActionScroll .scrollBlock1 .item .img{
    margin-top: 15px;
}
.otherActionScroll .scrollBlock1 .item .img img{
    max-width: 205px;
    max-height: 205px;
}
.otherActionScroll .scrollBlock1 .item .title{
    text-align: center;
    margin-top: 30px;
}
.otherActionScroll .scrollBlock1 .item .title a{
    color:#3c6c9a;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.otherActionScroll .scrollBlock1 a.left,
.otherActionScroll .scrollBlock1 a.right{top:150px;}

/*********************************************************/
/***              forCustomer                       ******/
/*********************************************************/

/***            NOVELTY BLOCK                       ******/

.forCustomer .noveltyBlock
{
    background: #f9f9f9;
    height: 570px;
}
.forCustomer .noveltyBlock h3
{
    padding-top: 58px;
}
.forCustomer .noveltyBlock .scrollBlock2
{
    margin-top:85px;
}
.forCustomer .noveltyBlock .scrollBlock2 .item
{
	padding: 0px 13px;
}
.forCustomer .noveltyBlock .scrollBlock2 .item > div
{
	background: #ffffff;
	text-align: center;
	width: 210px;
	height: 300px;
	padding: 36px 10px;
}
.forCustomer  .noveltyBlock .scrollBlock2 .item p
{
	text-align: center;
}
.forCustomer .noveltyBlock .scrollBlock2 .item img
{
	width: 135px;
	height: 175px;
}
.forCustomer  .noveltyBlock .scrollBlock2 .item .title
{
	margin-top: 20px;
}
.forCustomer .noveltyBlock .scrollBlock2 .item .title a
{
	color: #3a6d99;
	font-size: 1.4rem;
	font-weight: 600;
}
/*********************************************************/

.forCustomer .qualityProductsBlock
{
    background-position: top center;
    padding: 40px 0;
    min-height:375px ;
}
.forCustomer .qualityProductsBlock h3 {
    color: #d7ecff;
    padding-top: 40px;
}
.forCustomer .qualityProductsBlock .qualityProductsBlockText{
    color: #ffffff;
    margin-top: 60px;
}
.forCustomer .qualityProductsBlock .qualityProductsBlockText p{
    color: #ffffff;
}

/*********************************************************/
.forCustomer::after
{
    position: absolute;
    background: #f9f9f9 none repeat scroll 0 0;
    left: 0px;
    content: ".";
    height: 250px;
    width: 100%;
    z-index: 0;
}

/**************/

.forCustomer .actionBlock .actionScroll .scrollBlock2 {
    margin-top: 70px;
}

.forCustomer .actionBlock .actionScroll .scrollBlock2 .item{
    padding: 0 20px;
    width: 325px;
}
.forCustomer  .actionBlock .actionScroll .scrollBlock2 .item .img{

}
.forCustomer .actionBlock .actionScroll .scrollBlock2 .item .img img{
    height: 285px;
    width: 285px;
}
.forCustomer   .actionBlock .actionScroll .scrollBlock2 .item .title{
    padding: 50px 10px 0;
    text-align: center
}
.forCustomer .actionBlock .actionScroll .scrollBlock2 .item .title a{
    font-size: 1.8rem;
    text-transform: uppercase;
    color:#3c6c9a;
}
.forCustomer .actionBlock .actionScroll .scrollBlock2 a.button.left,
.forCustomer .actionBlock .actionScroll .scrollBlock2 a.button.right{
    top:145px;
}
.forCustomer .actionBlock p.actionMore{
    text-align: center;
}
.forCustomer .actionBlock p.actionMore a{
    background: #37a858 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    line-height: 4.8rem;
    margin: 60px 0 65px 0;
    padding: 0;
    text-transform: uppercase;
    width: 235px;
}
.forCustomer .actionBlock p.actionMore a:hover{
    background: #3c6c9a none repeat scroll 0 0;
}

/*********************************************************/
.forCustomer .mythsBlock{
    background: #f9f9f9;
    position: relative;
}
.forCustomer .mythsBlock .mythsText{
    margin-top: 75px;
}
.forCustomer .mythsBlock .mythsText p{
    margin-top: 40px;
    font-size: 1.5rem;
}
.forCustomer .mythsBlock .mythsText p:first-child{margin-top: 0;}

/*********************************************************/
/***             weWillContactYouForm               ******/
/*********************************************************/
.weWillContactYouForm
{
    background: transparent url("../img/formBg.png") repeat scroll center top;
    display: block;
    height: 525px;
    padding-top: 170px;
    position: relative;
    z-index: 10;
}
.weWillContactYouForm > div
{
	margin-top: 50px;
}
.weWillContactYouForm > div table td.spaser
{
	width: 50px;
}
.weWillContactYouForm h3{
    color: #ffffff;
    font-family: "Times New Roman";
    font-size: 3.3rem;
    text-align: center;
}
.weWillContactYouForm form{
    margin-top: 30px;
}
/*.weWillContactYouForm .formDelimiter.beforeButton{*/
    /*height: 80px;*/
/*}*/


/*********************************************************/
/***             aboutCompany               ******/
/*********************************************************/

.aboutCompany::after
{
    position: absolute;
    background: #f9f9f9 none repeat scroll 0 0;
    left: 0px;
    content: "";
    height: 250px;
    width: 100%;
    z-index: 0;
}

/******  ABOUT COMPANY BLOCK    ******/

.aboutCompany .aboutBlock
{
	padding-bottom: 50px;
}

/******  TOUR OF FACTORY BLOCK    ******/

.aboutCompany .tourOfFactoryBlock h3
{
	color: #FFFFFF;
}
/*******          slider            ************/

.tourOfFactorySlider
{
    position: relative;
    margin: 100px auto 0px;
}
.tourOfFactorySlider > div
{
	width: 950px;
	height: 450px;
}
.tourOfFactorySlider .slidesjs-slide
{
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.tourOfFactorySlider .slidesjs-navigation
{
	position: absolute;
	overflow: hidden;
    top: 50%;
    margin-top: -15px;
	/*padding-top: 46px;*/
	width: 46px;
    height: 62px;
	z-index: 11;
    font-size: 0;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}
/* Стрелка в лево */
.tourOfFactorySlider .slidesjs-previous.slidesjs-navigation
{
	left: 5px;
    width: 61px;
    height: 62px;
    background-position: -5px -171px;
}
/* Стрелка в право */
.tourOfFactorySlider .slidesjs-next.slidesjs-navigation
{
    width: 61px;
    height: 62px;
    background-position: -5px -315px;
	right: 5px;
}
/* Стрелка (при наведении)) */

.tourOfFactorySlider .slidesjs-previous.slidesjs-navigation:hover
{
    background-position: -5px -99px;
}
.tourOfFactorySlider .slidesjs-next.slidesjs-navigation:hover
{
    background-position: -5px -243px;
}

.aboutCompany .tourOfFactoryBlock p.tourOfFactoryMore
{
    text-align: center;
}
.aboutCompany .tourOfFactoryBlock p.tourOfFactoryMore a
{
    background: #37a858 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    line-height: 4.8rem;
    margin: 60px 0 65px 0;
    padding: 0;
    text-transform: uppercase;
    width: 235px;
}
.aboutCompany .tourOfFactoryBlock p.tourOfFactoryMore a:hover
{
    background: #3c6c9a none repeat scroll 0 0;
}

/*************     OUR AWARDS BLOCK     ****************/
.ourAwardsBlock
{
	padding-bottom: 68px;
}
.ourAwardsBlock h3
{
	color: #FFFFFF;
}
.ourAwardsBlock .emptyData
{
	color: #FFFFFF;
}
/***/
.ourAwardsBlock .ourAwardsScroll
{
	margin-top: 60px;
}
.ourAwardsBlock .item
{
	padding: 0px 11px;
}
.ourAwardsBlock .item > div
{
	border-radius: 3px;
	background-color: #FFFFFF;
	padding-top: 10px;
	width: 214px;
	min-height: 280px;
}
.ourAwardsBlock .item p.img
{
	text-align: center;
}
.ourAwardsBlock .item p.img img
{
	max-width: 180px;
	max-height: 200px;
}
.ourAwardsBlock .item p.title
{
	margin-top: 20px;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #3A6D99;
}

/***/
.aboutCompany .ourAwardsBlock p.ourAwardsMore
{
    text-align: center;
}
.aboutCompany .ourAwardsBlock p.ourAwardsMore a
{
    background: #37a858 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    line-height: 4.8rem;
    margin: 60px 0 65px 0;
    padding: 0;
    text-transform: uppercase;
    width: 235px;
}
.aboutCompany .ourAwardsBlock p.ourAwardsMore a:hover
{
    background: #3c6c9a none repeat scroll 0 0;
}

/******     OUR TEAM BLOCK    ************/
.aboutCompany .ourTeamBlock
{
}
.aboutCompany .ourTeamBlock .ourTeamListBlock
{
	margin-top: 60px;
}
.aboutCompany .ourTeamBlock .ourTeamListBlock div.item
{
	float: left;
	background-position: center center;
	background-size: auto auto;
	background-repeat: no-repeat;
	margin: 12px;
}
.aboutCompany .ourTeamBlock .ourTeamListBlock div.item > div
{
	background: rgba(0,0,0, 0.5);
	padding: 15px;
	width: 165px;
	height: 165px;
	overflow: hidden;
	opacity: 0;
}
.aboutCompany .ourTeamBlock .ourTeamListBlock div.item:hover > div
{
	opacity: 0.8;
}
.aboutCompany .ourTeamBlock .ourTeamListBlock div.item p.title
{
	margin-top: 10px;
	font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
	color: #FFFFFF;
	opacity: 1;
}
.aboutCompany .ourTeamBlock .ourTeamListBlock div.item div.ourTeamText
{
	margin-top: 10px;
    font-size: 1.6rem;
    line-height: 2rem;
	color: #FFFFFF;
}

/******     PHILANTHROPY BLOCK    ************/

.aboutCompany .philanthropyBlockText
{
	padding-bottom: 50px;
}

/********  BENEFITS BLOCK  **********/

.aboutCompany .benefitsBlock
{
	padding-bottom: 50px;
}
.aboutCompany .benefitsBlock .benefitsIcon
{
	margin-top: 72px;
}
.aboutCompany .benefitsBlock .benefitsIcon
{
	margin-top: 72px;
	text-align: center;
}
.aboutCompany .benefitsBlock .benefitsIcon div.benefits
{
	display: inline-block;
	margin: 0px 10px;
	padding: 0px 10px 10px;
	width: 165px;
}
.aboutCompany .benefitsBlock .benefitsIcon div.benefits p
{
	text-align: center;
}
.aboutCompany .benefitsBlock .benefitsIcon div.benefits p img
{
	max-width: 110px;
	max-height: 132px;
}
.aboutCompany .benefitsBlock .benefitsIcon div.benefits p.benefitsTitle
{
	margin-top: 5px;
	font-family: sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #3a6d99;
}
.aboutCompany .benefitsBlock .benefitsIcon div.benefits p.benefitsText
{
	margin-top: 20px;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #868686;
}

/*******    OUR CAPABILITIES BLOCK     ***********/
.aboutCompany .ourCapabilitiesBlock
{
    background: #f9f9f9;
    position: relative;
}
.aboutCompany .ourCapabilitiesBlockText .mythsText
{
    margin-top: 75px;
}
.aboutCompany .ourCapabilitiesBlockText .mythsText p
{
    margin-top: 40px;
    font-size: 1.5rem;
}
.aboutCompany .ourCapabilitiesBlockText .mythsText p:first-child
{
	margin-top: 0;
}

/*********************************************************/
/***             additionalMenuBlock               ******/
/*********************************************************/
.additionalMenuBlock > div
{
    background: #f5f5f5;
}
.additionalMenuBlock nav
{
	width: 1300px;
    text-align: center;
    padding-top: 15px;
}
.additionalMenuBlock nav a
{
	display: inline-block;
    color:#44ad62;
    font-size: 1.6rem;
    margin: 15px 15px;
    line-height: 1.6rem;
    text-transform: uppercase;
}
.additionalMenuBlock nav a:first-child
{
	margin: 15px 15px 15px 0;
}
.additionalMenuBlock nav a:last-child
{
	margin: 15px 0 15px 15px;
}
.additionalMenuBlock nav a:hover,
.additionalMenuBlock nav a.active
{
    display: inline-block;
    color:#3c6c9a;
}
/*********************************************************/
/************     productListBlock       *****************/
/*********************************************************/
.productBlock
{
	background: #f7f7f7 none repeat scroll 0 0;
	position: relative;
}
.productBlock:after
{
	background: #f7f7f7 none repeat scroll 0 0;
	content: "";
	height: 250px;
	position: absolute;
	width: 100%;
	z-index: 0;
}
/***/
.productListBlock
{
    padding: 70px 0px;
}
.productListBlock > div
{
    float: left;
}
.productListBlock .item
{
	background-color: #FFFFFF;
	padding: 40px 0px 20px 0px;
	width: 285px;
	text-align: center;
}
.productListBlock .item .img img
{
	max-width: 180px;
	max-height: 235px;
}
.productListBlock .item .title
{
	padding: 35px 30px 0 30px;
}
.productListBlock .item .title a
{
    color:#3c6c9a;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
.productListBlock .item .description,
.productListBlock .item .description.hide
{
	display: block!important;
	margin-top: 20px;	
    height: 60px;
    overflow: hidden;
}
.productListBlock .item .description.show
{
    height: 100%;
}
.productListBlock .item .description p
{
	margin-top: 7px;
    padding: 0px 30px;
    font-size: 1.4rem;
}
.productListBlock .item .description p:first-child
{
	margin-top: 0px;
}
.productListBlock .item .description table
{
    width: 100%;
    margin-top: 27px;
}
.productListBlock .item .description td
{
    padding-left: 10px;
    text-align: left;
    border: 1px solid #f7f7f7;
    font-size: 1.4rem;
    line-height: 2.2rem;
}
.productListBlock .item .description tr td:first-child
{
    color:#44ad62;
}
.productListBlock .item  p.scroll
{
    margin-top: 30px;
    text-align: center;
}
.productListBlock .item  p.scroll a
{
    display: inline-block;
}
.productListBlock .item  p.scroll a.deployed i
{
    transform: rotate(180deg);
}
/***/
.productListBlock .productDelimiter
{
	height: 85px;
	width: 30px;
}
.productListBlock .productDelimiter:nth-child(6n)
{
	clear: both;
	height: 85px;
	width: 100%;
}

/*********************************************************/
/**************      productPage     *********************/
/*********************************************************/
.productPage{
    margin-top: 65px;
}
.productPage .saitWidth{
    width: 1030px;
}
.productPage .saitWidth .pageTitle .saitWidth{
    width: 100%;
}
.productPage table{

}
.productPage table{

}
.productPage table tr td{

}
.productPage table tr td.imgTd{

}

.productPage table tr td.imgTd .img{
    width: 680px;
}
.productPage table tr td.imgTd .img img{
    float: left;
    height: 400px;
    width: 340px;
}
.productPage table tr td.descriptionTd{
    padding-left: 30px;
    margin-top: 0;
    vertical-align: top;
    text-align: left;
}
.productPage table tr td.descriptionTd .productText{
    margin-top: 20px;
    font-size: 1.5rem;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item{
    background: #ffffff none repeat scroll 0 0;
    padding: 36px 30px;
    text-align: center;
    width: 250px;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p
{
    text-align: center;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.img
{
    height: 200px;
    width: 160px;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.img img
{
    max-height: 200px;
    max-width: 160px;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.title
{
    margin-top: 20px;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.title a
{
    color: #3a6d99;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.date
{
    color: #606060;
    font-size: 1.2rem;
}
/*********************************************************/
/************     eventPage              *****************/
/*********************************************************/
.eventPage{
    margin-top: 60px;
}
.eventPage .articleImageSlider{
    position: relative;
}
.eventPage p.title {
    margin-top: 20px;
    color: #3a6d99;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.eventPage p.date {
    color: #606060;
    font-size: 1.2rem;
}
/**/
.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item{
    background: #ffffff none repeat scroll 0 0;
    padding: 36px 17px;
    text-align: center;
    width: 234px;
}
.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p
{
    text-align: center;
}
.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.img img
{
   max-height: 200px;
    max-width: 200px;
}
.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.title
{}
.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.title a
{
    color: #3a6d99;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item p.date
{
    color: #606060;
    font-size: 1.2rem;

}
/*********************************************************/
/**************      forPartner    *********************/
/*********************************************************/
.forPartner {
}
.forPartner .whoAreWeBlock,
.forPartner .workingWithEuropeAndCISBlock,
.forPartner .enterpriseFeaturesBlock,
.forPartner .privateLineBlock
{
    padding-bottom: 10px;
}
.forPartner .whoAreWeBlock,
.forPartner .workingWithEuropeAndCISBlock{
    background: #f9f9f9;
}
.forPartner .enterpriseFeaturesBlock{
}
.forPartner .privateLineBlock{
}
.forPartner .scrollTextGreen{
    padding-left: 70px;
    color:#37a858 ;
}
.forPartner p.scrollTextGreen span{
    text-transform: uppercase;
}
.forPartner p.scrollGreen{
    text-align: center;
}
.forPartner p.scrollGreen a{
    display: inline-block;
}

/*********************************************************/
/**************      contactsPage     *********************/
/*********************************************************/
.contactPage
{

}
.contactPage .contactSentence {
    margin-top: 20px;
}
.contactPage .contactSentence p{
    font-size:1.9rem;
    text-align: center;
}
.contactPage table td.staticTextTd{
    font-size:1.9rem;
    text-align: center;
    vertical-align:top;
}
.contactPage table td.contactPageForm{
    vertical-align: top;
}
.contactPage table td.contactPageForm .contactsForm{
    padding-left: 40px;
    margin-top: 35px;
}
.contactPage table td.contactPageForm .contactsForm p{
    width: 286px;
}
.contactPage table td.contactPageForm  .contactsForm  input
{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #37a858;
    color: #a4a4a4;
    height: 42px;
    padding: 0 10px 0 30px;
    width: 100%;
    border-radius: 5px;
}
.contactPage table td.contactPageForm  .contactsForm  .formTextarea textarea{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #37a858;
    color: #a4a4a4;
    height: 42px;
    padding: 5px 10px 5px 30px;
    width: 100%;
    border-radius: 5px;
}
.contactPage table td.contactPageForm  .contactsForm .formButton button
{
    background: #37a858 none repeat scroll 0 0;
    border: 1px solid #37a858;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5rem;
    height: 42px;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}
.contactPage table td.contactPageForm  .contactsForm .formDelimiter {
    height: 25px;}

.contactPage div.map
{
	margin: 80px 0px -250px;
}
.contactPage div.map p
{
	height: 600px;
}

/*********************************************************/
/**********      pageNotFoundBlock    ********************/
/*********************************************************/
.pageNotFoundBlock{
    background: #38699e;
    position: relative;
}
.pageNotFoundBlock:after{
background: #38699e none repeat scroll 0 0;
bottom: -130px;
content: ".";
height: 135px;
position: absolute;
width: 100%;
z-index: 0;
}
.pageNotFoundBlock h3{
    color: #ffffff;
    font-size: 6.5rem;
    line-height: 6.5rem;
    padding: 0;
    position: relative;
    margin-top: 160px;
}
.pageNotFoundBlock p {
    color: #ffffff;
    font-size: 2.3rem;
    text-align: center;
}
.pageNotFoundBlock p.pageNotFoundText,
.pageNotFoundBlock p.pageNotFoundLinkMain{
    margin-top: 80px;
}
.pageNotFoundBlock p a
{
    color:#ffffff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline;
}
/*********************************************************/
/*********************************************************/
/*********************************************************/
/*
@media screen and (max-width: 1300px)
{
	.mainCD
	{
		width: 1000px;
	}
	.saitWidth
	{
		width: 950px;
	}
    header.headerCD.headerMainPage
	{
        width: 1000px;
        height: 700px;
    }
    header.headerCD.headerMainPage video
	{
        width: 100%;
        height: 700px;
    }
}
*/
@media screen and (max-width: 1024px)
{
	.mainCD
	{
		min-width: 1000px;
	}
    .saitWidth
    {
        width: 750px;
    }
    header.headerCD.headerMainPage
	{
        min-width: 100%;
        min-height: 100%;
    }
    header.headerCD.headerMainPage video
	{
        min-width: 100%;
        min-height: 100%;
    }

	/**************************************/

	.indexSlider > div
	{
		width: 750px;
		height: 355px;
	}

	.contentMainPage .advantagesBlock .advantagesIcon div.advantages
	{
	    margin: 0px 2px;
	    padding: 50px 10px 10px;
	    width: 181px;
	}
	
	/**************************************/

	.additionalMenuBlock nav
	{
		width: 900px;
	}
	.additionalMenuBlock nav a
	{
	    font-size: 1.4rem;
	    margin: 10px 5px;
	    line-height: 1.4rem;
	}
	.additionalMenuBlock nav a:first-child
	{
		margin: 10px 5px 10px 0;
	}
	.additionalMenuBlock nav a:last-child
	{
		margin: 10px 0 10px 5px;
	}

	/********  BENEFITS BLOCK  **********/
	.aboutCompany .benefitsBlock .benefitsIcon div.benefits
	{
		margin: 0px 0px;
		padding: 0px 5px 10px;
		width: 147px;
	}

	/**************************************/

	.tourOfFactorySlider > div
	{
		width: 750px;
		height: 355px;
	}

	/**************************************/

	.articleImageSlider > div
	{
		width: 750px;
		height: 355px;
	}

	/**************************************/
	.productListBlock .productDelimiter,
	.productListBlock .productDelimiter:nth-child(6n)
	{
		clear: none;
		height: 85px;
		width: 180px;
	}
	.productListBlock .productDelimiter:nth-child(4n)
	{
		clear: both;
		height: 85px;
		width: 100%;
	}
	/**************************************/

    .productPage .saitWidth {
        width: 900px;
    }
    .productPage table {
        table-layout: fixed;
        width: 900px;
    }
    .productPage table tr td.imgTd {
        /*width: 400px;*/
    }
    .productPage table tr td.imgTd .img img {
        height: 265px;
        width: 225px;
    }

    .productPage table tr td.descriptionTd {
        margin-top: 0;
        text-align: left;
    }

    /***********************************************/

	.forCustomer .noveltyBlock .scrollBlock2 .item
	{
		padding: 0px 18px;
	}

    /***********************************************/

	.ourAwardsBlock .item
	{
		padding: 0px 18px;
	}

    /***********************************************/

	.aboutCompany .ourTeamBlock .ourTeamListBlock div.item
	{
		margin: 11px;
	}

    /***********************************************/

    .scrollBlock1 a.button.left,
	.scrollBlock2 a.button.left
	{
         left: -23px;
    }
    .scrollBlock1 a.button.right,
	.scrollBlock2 a.button.right
	{
         right: -33px;
    }

    /***********************************************/

	.otherEventScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item
	{
	    padding: 36px 22px;
	    width: 243px;
	}

    /***********************************************/

    .otherProductScroll .scrollBlock1 > div.bannerBlock div.bbContainer div.item
	{
        padding: 36px 50px;
        width: 280px;
    }

	/****************************************************/

	.otherRecipeScroll .scrollBlock1 .item
	{
	    float: left;
	    padding: 0 22px;
	    width: 250px;
	}

	/****************************************************/

	.forCustomer .actionBlock .actionScroll .scrollBlock2 .item
	{
	    padding: 0 40px;
	    width: 365px;
	}

	/*********************************************************/

	.contactPage div.map p
	{
		height: 400px;
	}
}
/*********************************************************/
/**************      sprite      *************************/
/*********************************************************/
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrowLeftBlue {
    width: 13px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-arrowRightBlue {
    width: 13px;
    height: 19px;
    background-position: -5px -34px;
}

.sprite-arrowsScrollGreen {
    width: 30px;
    height: 8px;
    background-position: -5px -63px;
}

.sprite-arrowsScrollWhite {
    width: 30px;
    height: 8px;
    background-position: -5px -81px;
}

.sprite-btnLeftBannerBlue {
    width: 61px;
    height: 62px;
    background-position: -5px -99px;
}

.sprite-btnLeftBannerGreen {
    width: 61px;
    height: 62px;
    background-position: -5px -171px;
}

.sprite-btnRightBannerBlue {
    width: 61px;
    height: 62px;
    background-position: -5px -243px;
}

.sprite-btnRightBannerGreen {
    width: 61px;
    height: 62px;
    background-position: -5px -315px;
}

.sprite-iconMenuBlue {
    width: 31px;
    height: 23px;
    background-position: -5px -387px;
}

.sprite-iconMenuClose {
    width: 25px;
    height: 27px;
    background-position: -5px -420px;
}

.sprite-iconMenuWhite {
    width: 31px;
    height: 23px;
    background-position: -5px -457px;
}

.sprite-sociaFacebokCircularLogoBlue {
    width: 40px;
    height: 38px;
    background-position: -5px -490px;
}

.sprite-sociaFacebokCircularLogoGreen {
    width: 40px;
    height: 38px;
    background-position: -5px -538px;
}

.sprite-sociaFacebokCircularLogoWhite {
    width: 40px;
    height: 38px;
    background-position: -5px -586px;
}

.sprite-sociaVkSocialLogotypeBlue {
    width: 39px;
    height: 38px;
    background-position: -5px -634px;
}

.sprite-sociaVkSocialLogotypeGreen {
    width: 39px;
    height: 38px;
    background-position: -5px -682px;
}

.sprite-sociaVkSocialLogotypeWhite {
    width: 39px;
    height: 38px;
    background-position: -5px -730px;
}

.sprite-socialTwitterInAcircleLogoBlue {
    width: 40px;
    height: 38px;
    background-position: -5px -778px;
}

.sprite-socialTwitterInAcircleLogoGreen {
    width: 40px;
    height: 38px;
    background-position: -5px -826px;
}

.sprite-socialTwitterInAcircleLogoWhite {
    width: 40px;
    height: 38px;
    background-position: -5px -874px;
}

.sprite-socialYoutubeSymbolBlue {
    width: 39px;
    height: 38px;
    background-position: -5px -922px;
}

.sprite-socialYoutubeSymbolGreen {
    width: 39px;
    height: 38px;
    background-position: -5px -970px;
}

.sprite-socialYoutubeSymbolWhite {
    width: 39px;
    height: 38px;
    background-position: -5px -1018px;
}

.sprite-textScrollGreen {
    width: 40px;
    height: 31px;
    background-position: -5px -1066px;
}

.sprite-textScrollWhite {
    width: 40px;
    height: 31px;
    background-position: -5px -1107px;
}
.sprite-zAdvBasket {
    width: 92px;
    height: 90px;
    background-position: -5px -1148px;
}

.sprite-zAdvHighTech {
    width: 85px;
    height: 103px;
    background-position: -5px -1248px;
}

.sprite-zAdvLoyaltyProgram {
    width: 74px;
    height: 103px;
    background-position: -5px -1361px;
}

.sprite-zAdvOppCoop {
    width: 110px;
    height: 106px;
    background-position: -5px -1474px;
}

